<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nico.lo52_badminton">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Larde Sports"
        android:roundIcon="@drawable/badminton"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AchatActivity" />
        <activity android:name=".FormulaireActivity"
            android:parentActivityName=".AchatActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AchatActivity" />
    </activity>
    </application>

</manifest>